{{>separate/header}}

{{#banner}}
<section class="banner" style="background-image: url('images/{{back}}')">{{title}}</section>
<h2>{{title}} disponíveis para adoção</h2>
{{/banner}}

<div class="container list">
{{#list}}
    <div class="item">
        <img src="images/{{image}}" class="item--image" />
        <div class="item--name">Nome:{{name}}</div>
        <div class="item--color">Cor:{{color}}</div>
        <div class="item--genre">Sexo:{{sex}}</div>

    </div>
    {{/list}}
    </div>
{{^list}}
    <h2>Pet não encontrado</h2>
{{/list}}

{{>separate/footer}}
